<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bigmouth.nvwa.authority.dao.ResourceDao">
	<resultMap type="org.bigmouth.nvwa.authority.entity.Resource" id="Resource">
		<id column="id" property="id"/>
		<result column="parent_id" property="parentId"/>
		<result column="name" property="name"/>
		<result column="resource_identifying" property="identifying"/>
		<result column="type" property="type"/>
		<result column="url" property="url"/>
		<result column="order_by" property="orderBy"/>
		<result column="description" property="description"/>
		<result column="create_time" property="createTime"/>
		<result column="modify_time" property="modifyTime"/>
	</resultMap>
	
	<select id="selectForRole" resultMap="Resource">
		SELECT r.id, r.parent_id, r.name, r.resource_identifying, r.type, r.url, r.order_by, r.description, r.create_time, r.modify_time
			 FROM tbl_common_role_resource_ref rr LEFT JOIN tbl_common_resource r ON rr.resource_id = r.id
			WHERE rr.role_id = #{id}
	
			UNION ALL 
	
		SELECT r.id, r.parent_id, r.name, r.resource_identifying, r.type, r.url, r.order_by, r.description, r.create_time, r.modify_time
			 FROM tbl_common_resource r 
			WHERE r.type = 1
	</select>
	
	<select id="queryAll" resultMap="Resource">
		SELECT id, parent_id, name, resource_identifying, type, url, order_by, 
		       description, create_time, modify_time
		  FROM tbl_common_resource
	</select>
</mapper>