<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean class="org.bigmouth.nvwa.zookeeper.config.ZkPropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>

	<import resource="./applicationContext-zookeeper.xml"/>
	<import resource="./applicationContext-concurrent.xml"/>
	
	<bean class="org.bigmouth.nvwa.zookeeper.test.SynchronousService" id="synchronousService1"></bean>
	<bean class="org.bigmouth.nvwa.zookeeper.test.SynchronousService" id="synchronousService2"></bean>

	<bean class="org.bigmouth.nvwa.spring.SpringContextHolder" />
</beans>