<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="zooKeeperCuratorWrapper" class="org.bigmouth.nvwa.log4mongo.cluster.node.ZooKeeperCuratorWrapper"
		init-method="init" destroy-method="destroy">
		<constructor-arg value="${zk.servers}" />
		<constructor-arg value="${zk.sessionTimeout}" />
	</bean>

	<!-- name code -->
	<bean id="nameCodeUpdater" class="org.bigmouth.nvwa.log4mongo.cluster.NameCodeUpdater">
		<property name="nameCodeMapper" ref="ncMapper" />
	</bean>
	<bean id="nameCodeDetector" class="org.bigmouth.nvwa.log4mongo.cluster.NameCodeDetector"
		init-method="detect">
		<property name="zk" ref="zooKeeperCuratorWrapper" />
		<property name="watchPath" value="${zk.detectpath.namecode}" />
		<property name="updater" ref="nameCodeUpdater" />
	</bean>

	<!-- Endpoint register -->
	<bean id="endpointRegistrar" class="org.bigmouth.nvwa.log4mongo.distributed.EndpointRegistrar"
		init-method="register">
		<constructor-arg ref="notifier" />
		<constructor-arg value="${zk.cluster.nodes}" />
		<constructor-arg value="${servicelogic.host}" />
		<constructor-arg value="${servicelogic.port}" />
		<constructor-arg value="${cluster.weights}" />
	</bean>
	
	<bean id="notifier" class="org.bigmouth.nvwa.log4mongo.distributed.notify.zk.CuratorNotifier"
		init-method="init" destroy-method="destroy">
		<constructor-arg value="${zk.servers}" />
		<constructor-arg value="${zk.sessionTimeout}" />
	</bean>
</beans>
