<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--ELEMENT configuration (properties?, settings?, typeAliases?, typeHandlers?, objectFactory?, plugins?, environments?, databaseIdProvider?, mappers?)-->

    <settings>
	  <setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 分页拦截器 -->
	<plugins>
		<plugin interceptor="org.bigmouth.nvwa.mybatis.page.PaginationInterceptor"></plugin>
	</plugins>
</configuration>