body {
  padding-top: 50px;
}
.starter {
	margin-top: 20px;
}

/** 滚动条样式 **/
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-button {
	width: 8px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: #eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #999;
	border: thin solid gray;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #7d7d7d;
}

.modal-lg {
    width: 1200px;
}