<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="ncMapper"
		class="com.skymobi.market.commons.sap.namecode.DefaultNameCodeMapper">
		<property name="mappingData">
			<set>
				<!-- access -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="0" />
					<property name="plugInName" value="access" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="default" />
				</bean>
				<!-- common applist -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="101" />
					<property name="plugInName" value="applist" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="section" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="101" />
					<property name="plugInName" value="applist" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="frame" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="101" />
					<property name="plugInName" value="applist" />
					<property name="serviceCode" value="2" />
					<property name="serviceName" value="sameDeveloper" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="101" />
					<property name="plugInName" value="applist" />
					<property name="serviceCode" value="3" />
					<property name="serviceName" value="recommend" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="101" />
					<property name="plugInName" value="applist" />
					<property name="serviceCode" value="4" />
					<property name="serviceName" value="sameClass" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="101" />
					<property name="plugInName" value="applist" />
					<property name="serviceCode" value="5" />
					<property name="serviceName" value="shake" />
				</bean>
				<!-- common app -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="102" />
					<property name="plugInName" value="app" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="apk" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="102" />
					<property name="plugInName" value="app" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="details" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="102" />
					<property name="plugInName" value="app" />
					<property name="serviceCode" value="2" />
					<property name="serviceName" value="apkByPkg" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="102" />
					<property name="plugInName" value="app" />
					<property name="serviceCode" value="3" />
					<property name="serviceName" value="detailsByPkg" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="102" />
					<property name="plugInName" value="app" />
					<property name="serviceCode" value="4" />
					<property name="serviceName" value="standardApk" />
				</bean>
				<!-- common pic -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="103" />
					<property name="plugInName" value="pic" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="sectionIcon" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="103" />
					<property name="plugInName" value="pic" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="apkIcon" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="103" />
					<property name="plugInName" value="pic" />
					<property name="serviceCode" value="2" />
					<property name="serviceName" value="apkPreview" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="103" />
					<property name="plugInName" value="pic" />
					<property name="serviceCode" value="3" />
					<property name="serviceName" value="checkVer" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="103" />
					<property name="plugInName" value="pic" />
					<property name="serviceCode" value="4" />
					<property name="serviceName" value="metro" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="103" />
					<property name="plugInName" value="pic" />
					<property name="serviceCode" value="5" />
					<property name="serviceName" value="push" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="103" />
					<property name="plugInName" value="pic" />
					<property name="serviceCode" value="6" />
					<property name="serviceName" value="apkIconUrl" />
				</bean>
				<!-- common comment -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="104" />
					<property name="plugInName" value="comment" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="list" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="104" />
					<property name="plugInName" value="comment" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="post" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="104" />
					<property name="plugInName" value="comment" />
					<property name="serviceCode" value="2" />
					<property name="serviceName" value="voicedl" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="104" />
					<property name="plugInName" value="comment" />
					<property name="serviceCode" value="3" />
					<property name="serviceName" value="recommend" />
				</bean>					
				<!-- common search -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="105" />
					<property name="plugInName" value="search" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="preDeploy" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="105" />
					<property name="plugInName" value="search" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="app" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="105" />
					<property name="plugInName" value="search" />
					<property name="serviceCode" value="2" />
					<property name="serviceName" value="metro" />
				</bean>
				<!-- local -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="106" />
					<property name="plugInName" value="local" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="checkApp" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="106" />
					<property name="plugInName" value="local" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="checkAlive" />
				</bean>
				<!-- appstore default -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="300" />
					<property name="plugInName" value="as" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="login" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="300" />
					<property name="plugInName" value="as" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="sessionId" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="300" />
					<property name="plugInName" value="as" />
					<property name="serviceCode" value="2" />
					<property name="serviceName" value="startup" />
				</bean>
				<!-- appstore local -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="301" />
					<property name="plugInName" value="asLocal" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="checkApp" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="301" />
					<property name="plugInName" value="asLocal" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="selfUpdate" />
				</bean>
				<!-- appstore account -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="302" />
					<property name="plugInName" value="asAccount" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="login" />
				</bean>
				<!-- pcsuite default -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="400" />
					<property name="plugInName" value="pc" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="home" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="400" />
					<property name="plugInName" value="pc" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="driver" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="400" />
					<property name="plugInName" value="pc" />
					<property name="serviceCode" value="2" />
					<property name="serviceName" value="installBag" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="400" />
					<property name="plugInName" value="pc" />
					<property name="serviceCode" value="3" />
					<property name="serviceName" value="cpInfo" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="400" />
					<property name="plugInName" value="pc" />
					<property name="serviceCode" value="4" />
					<property name="serviceName" value="login" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="400" />
					<property name="plugInName" value="pc" />
					<property name="serviceCode" value="5" />
					<property name="serviceName" value="patch" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="400" />
					<property name="plugInName" value="pc" />
					<property name="serviceCode" value="6" />
					<property name="serviceName" value="vidpid" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="400" />
					<property name="plugInName" value="pc" />
					<property name="serviceCode" value="7" />
					<property name="serviceName" value="driverDl" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="400" />
					<property name="plugInName" value="pc" />
					<property name="serviceCode" value="8" />
					<property name="serviceName" value="deviceInfo" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="400" />
					<property name="plugInName" value="pc" />
					<property name="serviceCode" value="9" />
					<property name="serviceName" value="standardDriver" />
				</bean>
				<!-- pcsuite applist -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="401" />
					<property name="plugInName" value="pcApplist" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="frame" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="401" />
					<property name="plugInName" value="pcApplist" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="sectionOL" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="401" />
					<property name="plugInName" value="pcApplist" />
					<property name="serviceCode" value="2" />
					<property name="serviceName" value="pcSectionOL" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="401" />
					<property name="plugInName" value="pcApplist" />
					<property name="serviceCode" value="3" />
					<property name="serviceName" value="hot" />
				</bean>
				<!-- pcsuite install bag -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="402" />
					<property name="plugInName" value="pcInstallBag" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="frame" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="402" />
					<property name="plugInName" value="pcInstallBag" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="installLog" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="402" />
					<property name="plugInName" value="pcInstallBag" />
					<property name="serviceCode" value="2" />
					<property name="serviceName" value="userInfo" />
				</bean>
				<!-- applog -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="500" />
					<property name="plugInName" value="appLog" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="upload" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="500" />
					<property name="plugInName" value="appLog" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="appInfo" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="500" />
					<property name="plugInName" value="appLog" />
					<property name="serviceCode" value="2" />
					<property name="serviceName" value="activation" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="500" />
					<property name="plugInName" value="appLog" />
					<property name="serviceCode" value="3" />
					<property name="serviceName" value="uploadAccessPathLog" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="500" />
					<property name="plugInName" value="appLog" />
					<property name="serviceCode" value="4" />
					<property name="serviceName" value="feedback" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="500" />
					<property name="plugInName" value="appLog" />
					<property name="serviceCode" value="5" />
					<property name="serviceName" value="feedback4kf" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="500" />
					<property name="plugInName" value="appLog" />
					<property name="serviceCode" value="6" />
					<property name="serviceName" value="uploadFeedBack" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="500" />
					<property name="plugInName" value="appLog" />
					<property name="serviceCode" value="7" />
					<property name="serviceName" value="downloadFeedback" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="500" />
					<property name="plugInName" value="appLog" />
					<property name="serviceCode" value="8" />
					<property name="serviceName" value="report" />
				</bean>
				<!-- client account -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="501" />
					<property name="plugInName" value="clientAccount" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="session" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="501" />
					<property name="plugInName" value="clientAccount" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="login" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="501" />
					<property name="plugInName" value="clientAccount" />
					<property name="serviceCode" value="2" />
					<property name="serviceName" value="changePwd" />
				</bean>
				<!-- content provider -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="502" />
					<property name="plugInName" value="cp" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="paySign" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="502" />
					<property name="plugInName" value="cp" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="payResult" />
				</bean>
				<!-- time -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="503" />
					<property name="plugInName" value="time" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="timeCheck" />
				</bean>
				<!-- 3rd. customize -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="600" />
					<property name="plugInName" value="tele" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="queryAppPts" />
				</bean>
				
				<!-- open store -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="700" />
					<property name="plugInName" value="openstore" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="download" />
				</bean>
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="700" />
					<property name="plugInName" value="openstore" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="updateDetect" />
				</bean>
				<!-- applog -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="800" />
					<property name="plugInName" value="uploadhstype" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="uploadhstype" />
				</bean>	
				<!-- push -->
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="900" />
					<property name="plugInName" value="push" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="push" />
				</bean>							
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="900" />
					<property name="plugInName" value="push" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="pushClick" />
				</bean>							
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="900" />
					<property name="plugInName" value="push" />
					<property name="serviceCode" value="2" />
					<property name="serviceName" value="pushDetect" />
				</bean>							
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="900" />
					<property name="plugInName" value="push" />
					<property name="serviceCode" value="3" />
					<property name="serviceName" value="pushDownload" />
				</bean>	
				<!-- cdn -->	
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="1000" />
					<property name="plugInName" value="cdn" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="flowRate" />
				</bean>		
				<!-- pcLog -->	
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="1100" />
					<property name="plugInName" value="pcLog" />
					<property name="serviceCode" value="0" />
					<property name="serviceName" value="psPhonebook" />
				</bean>		
				<bean class="com.skymobi.market.commons.sap.namecode.DefaultNameCodePair">
					<property name="plugInCode" value="1100" />
					<property name="plugInName" value="pcLog" />
					<property name="serviceCode" value="1" />
					<property name="serviceName" value="userAction" />
				</bean>
			</set>
		</property>
	</bean>
</beans>